<div class="xxx">
<h1 class="xxx">Enter an Actor/Actress for retrieval:</h1>

<%= form_tag("/xxx", method: :post) do %>
  <%= label_tag(:fullname, "Name:", :placeholder => "Actor/Actress") %>
  <%= text_field_tag(:fullname) %>
  <%= submit_tag("Submit") %>
<% end %>

<div>
  <%= link_to 'Home', current_user, class: 'btn btn-default btn-xs' %>
</div>
</div>
