<body>
<h1>Give me an actor</h1>

<%= form_tag("/xxx", method: :post) do %>
  <%= label_tag(:fullname, "Enter an actor:") %>
  <%= text_field_tag(:fullname) %>
  <%= submit_tag("Submit") %>
<% end %>

<div>
  <%= link_to 'Home', current_user %>
</div>
</body>
