<h1>You did it</h1>

<%= form_tag("/xxx/show", method: "get") do %>
  <%= label_tag(:fullname, "Enter an actor:") %>
  <%= text_field_tag(:fullname) %>
  <%= submit_tag("Submit") %>
<% end %>

<p>The Actor variable =  <%= @myvar %></p>
