<div id='user-show'>
<section class="page-container">
  <%= image_tag('background-main.jpeg', alt: "User Background", class: "ubi") %>
<p id="notice"><%= notice %></p>

<h2 class="welcome">Welcome <%= @user.first_name %>!</h2>

  <section class="user_movies">
    <ul>
      <li><%= link_to 'Suggest a Movie', new_xxx_path %></li>
      <li><%= link_to 'View my movies', movies_path %></li>
      <li><%= link_to 'New Movie', new_movie_path %></li>
  </ul>
</section>

<%= link_to 'Update Profile', edit_user_path(@user) %>
<%#= link_to 'Back', users_path %>
</section>
</div>
