<p id="notice"><%= notice %></p>

<h2>Welcome <%= @user.first_name %>!</h2>

  <section id="user_movies">
    <ul>
      <li><%= link_to 'Suggest a Movie' %></li>
      <li><%= link_to 'View my movies', user_path(@user.movies) %></li>
      <li><%= link_to 'New Movie', new_movie_path %></li>
  </ul>
</section>



<!-- <p>
  <strong>First Name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Movies:</strong>
  <%= @user.movies %>
</p> -->

<%= link_to 'Edit', edit_user_path(@user) %> 
<%#= link_to 'Back', users_path %>
