<!DOCTYPE html>
<html>
<head>
  <title>MovieFinder</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- <div id="main-container" class="container"> -->
    <div class="row">

        <!-- user status options -->
  <div class="nav pull-right">
          <% if current_user %>
  <ul>
    <li><%= current_user.email %></li>
    <li><%= link_to "Log out", logout_path, method: "delete" %></li>
  </ul>
<% end %>
</div>
</div>
<!-- user option box for current session -->
        <div class="col-xs-9">
          <%= yield %>
        </div>

</body>
</html>
